---

Created for [learn-investments.rice-business.org](https://learn-investments.rice-business.org)
    
By [Kerry Back](https://kerryback.com) and [Kevin Crotty](https://kevincrotty.rice.edu/)
    
Jones Graduate School of Business, Rice University

---

# EXAMPLE DATA

In [1]:
S = 50          # price of underlying
K = 50          # strike price
T = 1           # years to maturity
sigma = 0.4     # volatility of underlying
r = 0.02        # risk-free rate
q = 0.03        # dividend yield

# CALL CALCULATIONS

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import norm    

indx = [
    "d1",
    "N(d1)",
    "d2",
    "N(d2)",
    "exp(-qT)S",
    "exp(-rT)K",
    "exp(-qT)SN(d1)",
    "exp(-rT)KN(d2)",
    "call value",
]
tbl = pd.DataFrame(dtype=float, index=indx, columns=["values"])
d1 = (np.log(S / K) + (r - q + 0.5 * sigma ** 2) * T) / (sigma * np.sqrt(T))
tbl.loc["d1"] = d1
tbl.loc["N(d1)"] = norm.cdf(d1)
d2 = d1 - sigma * np.sqrt(T)
tbl.loc["d2"] = d2
tbl.loc["N(d2)"] = norm.cdf(d2)
tbl.loc["exp(-qT)S"] = np.exp(-q * T) * S
tbl.loc["exp(-rT)K"] = np.exp(-r * T) * K
tbl.loc["exp(-qT)SN(d1)"] = np.exp(-q * T) * S * norm.cdf(d1)
tbl.loc["exp(-rT)KN(d2)"] = np.exp(-r * T) * K * norm.cdf(d2)
tbl.loc["call value"] = np.exp(-q * T) * S * norm.cdf(d1) - np.exp(
    -r * T
) * K * norm.cdf(d2)
tbl = tbl.round(4)
tbl

                 values
d1               0.1750
N(d1)            0.5695
d2              -0.2250
N(d2)            0.4110
exp(-qT)S       48.5223
exp(-rT)K       49.0099
exp(-qT)SN(d1)  27.6315
exp(-rT)KN(d2)  20.1426
call value       7.4889

# PUT CALCULATIONS

In [3]:
indx = [
    "d1",
    "N(-d1)",
    "d2",
    "N(-d2)",
    "exp(-qT)S",
    "exp(-rT)K",
    "exp(-rT)KN(-d2)",
    "exp(-qT)SN(-d1)",
    "put value",
]
tbl = pd.DataFrame(dtype=float, index=indx, columns=["values"])
d1 = (np.log(S / K) + (r - q + 0.5 * sigma ** 2) * T) / (sigma * np.sqrt(T))
tbl.loc["d1"] = d1
tbl.loc["N(-d1)"] = norm.cdf(-d1)
d2 = d1 - sigma * np.sqrt(T)
tbl.loc["d2"] = d2
tbl.loc["N(-d2)"] = norm.cdf(-d2)
tbl.loc["exp(-qT)S"] = np.exp(-q * T) * S
tbl.loc["exp(-rT)K"] = np.exp(-r * T) * K
tbl.loc["exp(-qT)SN(-d1)"] = np.exp(-q * T) * S * norm.cdf(-d1)
tbl.loc["exp(-rT)KN(-d2)"] = np.exp(-r * T) * K * norm.cdf(-d2)
tbl.loc["put value"] = np.exp(-r * T) * K * norm.cdf(-d2) - np.exp(
    -q * T
) * S * norm.cdf(-d1)
tbl = tbl.round(4)
tbl

                  values
d1                0.1750
N(-d1)            0.4305
d2               -0.2250
N(-d2)            0.5890
exp(-qT)S        48.5223
exp(-rT)K        49.0099
exp(-rT)KN(-d2)  28.8674
exp(-qT)SN(-d1)  20.8908
put value         7.9766