<a href="https://colab.research.google.com/github/bbcx-investments/notebooks/blob/main/factor_investing/quintiles_accum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from pandas_datareader import DataReader as pdr

# associate names of French files with characteristic names
files = {'Earnings to price ratio': 'Portfolios_Formed_on_E-P',\
 'Variance': 'Portfolios_Formed_on_VAR',\
 'Accruals': 'Portfolios_Formed_on_AC',\
 'Residual variance': 'Portfolios_Formed_on_RESVAR',\
 'Net equity issuance': 'Portfolios_Formed_on_NI',\
 'Beta': 'Portfolios_Formed_on_BETA',\
 'Cash flow to price': 'Portfolios_Formed_on_CF-P',\
 'Market equity': 'Portfolios_Formed_on_ME',\
 'Book to market ratio': 'Portfolios_Formed_on_BE-ME',\
 'Dividend to price ratio': 'Portfolios_Formed_on_D-P',\
 'Investment rate': 'Portfolios_Formed_on_INV',\
 'Momentum': '10_Portfolios_Prior_12_2',\
 'Short term reversal': '10_Portfolios_Prior_1_0',\
 'Long term reversal': '10_Portfolios_Prior_60_13'}

# sort characteristics in alphabetical order
keys = np.sort(list(files.keys()))

df = None
# loop over files
for key in keys :

    # read file
    f = files[key]
    d = pdr(f,'famafrench',start=1920)[2]/100

    # for momentum and reversal files, combine deciles to form quintiles
    if 'Portfolios_Formed_on' not in f :
        cols = d.columns.to_list()
        d['Lo 20'] = d[cols[:2]].mean(axis=1)
        d['Qnt 2'] = d[cols[2:4]].mean(axis=1)
        d['Qnt 3'] = d[cols[4:6]].mean(axis=1)
        d['Qnt 4'] = d[cols[6:8]].mean(axis=1)
        d['Hi 20'] = d[cols[8:]].mean(axis=1)
    
    # for other files, extract quintiles
    quintiles = ['Lo 20','Qnt 2','Qnt 3','Qnt 4','Hi 20']
    d = d[quintiles].copy()

    # add characteristic to the index
    d['Characteristic'] = key
    d = d.reset_index().set_index(['Date','Characteristic'])

    # add to df
    df = pd.concat((df,d))

# convert to wide format with multi-indexed columns
df = df.stack().swaplevel(1,2).unstack().unstack()

# compound returns
df = (1+df).cumprod()

df

Characteristic     Accruals                                                  \
                      Lo 20       Qnt 2       Qnt 3       Qnt 4       Hi 20
Date
1927                    NaN         NaN         NaN         NaN         NaN
1928                    NaN         NaN         NaN         NaN         NaN
1929                    NaN         NaN         NaN         NaN         NaN
1930                    NaN         NaN         NaN         NaN         NaN
1931                    NaN         NaN         NaN         NaN         NaN
...                     ...         ...         ...         ...         ...
2017             513.779864  246.668453  256.454848  230.619706   67.722234
2018             553.186780  244.892440  228.065297  227.713898   60.746844
2019             773.742349  314.123532  290.669221  278.721811   80.240506
2020             991.705568  386.843130  360.313566  356.262219  113.131089
2021            1249.846528  515.623208  444.699003  396.377345  134.309229

Characteristic        Beta                                                  \
                     Lo 20       Qnt 2       Qnt 3       Qnt 4       Hi 20
Date
1927                   NaN         NaN         NaN         NaN         NaN
1928                   NaN         NaN         NaN         NaN         NaN
1929                   NaN         NaN         NaN         NaN         NaN
1930                   NaN         NaN         NaN         NaN         NaN
1931                   NaN         NaN         NaN         NaN         NaN
...                    ...         ...         ...         ...         ...
2017            241.861647  337.622801  258.493480  196.146511  149.045461
2018            237.435579  335.090630  245.568806  178.297178  124.408246
2019            303.466413  433.406221  319.976154  245.069471  163.970069
2020            319.580479  487.061911  463.805435  347.851607  236.805573
2021            379.022449  627.481861  528.181629  515.829149  300.364189

Characteristic  ... Short term reversal                              \
                ...               Lo 20         Qnt 2         Qnt 3
Date            ...
1927            ...            1.145900      1.199050      1.341200
1928            ...            1.641960      1.572674      1.869163
1929            ...            0.937888      1.275203      1.734584
1930            ...            0.586039      0.839976      1.229907
1931            ...            0.409671      0.492814      0.719372
...             ...                 ...           ...           ...
2017            ...        67090.090107  20228.032774  10132.414952
2018            ...        60320.700016  19617.146184   9728.638216
2019            ...        91301.411544  26534.151928  12967.788310
2020            ...       100860.669332  29884.088609  16614.978773
2021            ...       118470.942198  38672.999069  20589.281695

Characteristic                              Variance                          \
                       Qnt 4       Hi 20       Lo 20       Qnt 2       Qnt 3
Date
1927                1.389750    1.403550         NaN         NaN         NaN
1928                1.849757    2.049253         NaN         NaN         NaN
1929                1.651278    1.777625         NaN         NaN         NaN
1930                1.263476    1.231538         NaN         NaN         NaN
1931                0.670021    0.509056         NaN         NaN         NaN
...                      ...         ...         ...         ...         ...
2017             5751.258796  172.414750  241.921861  313.708958  391.245392
2018             5494.177528  157.949153  251.574543  274.338484  352.003480
2019             7220.997525  187.493541  319.650615  360.974577  465.242999
2020             9033.467904  296.192922  390.676981  428.404628  561.455251
2021            10300.863451  357.919527  501.941786  512.414775  761.838630

Characteristic
                     Qnt 4      Hi 20
Date
1927                   NaN        NaN
1928                   NaN        NaN
1929                   NaN        NaN
1930                   NaN        NaN
1931                   NaN        NaN
...                    ...        ...
2017            455.469197  10.840661
2018            417.027597   9.372836
2019            568.617128  11.806961
2020            794.585574  18.081180
2021            956.204280  17.197010

[95 rows x 70 columns]