<a href="https://colab.research.google.com/github/bbcx-investments/notebooks/blob/main/risk/geometric.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from pandas_datareader import DataReader as pdr


# get market return data
df = pdr('F-F_Research_Data_Factors','famafrench', start=1900)[1]/100

mkt = df["Mkt-RF"] + df.RF
mkt = pd.DataFrame(mkt).reset_index()
mkt.columns = ['date', 'ret']
mkt.date = mkt.date.astype(str).astype(int)

mkt

    date     ret
0   1927  0.3259
1   1928  0.3895
2   1929 -0.1479
3   1930 -0.2882
4   1931 -0.4404
..   ...     ...
90  2017  0.2231
91  2018 -0.0512
92  2019  0.3043
93  2020  0.2411
94  2021  0.2360

[95 rows x 2 columns]

In [ ]:
# get stock return data
tick = 'CVX'        # example stock
close = pdr(tick, "yahoo", start=1970)["Adj Close"]
annual = close.resample('Y').last().pct_change().dropna().reset_index()
annual.columns = ['date', 'ret']
annual.date = annual.date.dt.to_period('Y').astype(str).astype(int)

annual

    date       ret
0   1971  0.106523
1   1972  0.453690
2   1973 -0.090197
3   1974 -0.316027
4   1975  0.417093
5   1976  0.481890
6   1977 -0.051829
7   1978  0.205788
8   1979  0.202667
9   1980  0.764966
10  1981 -0.138191
11  1982 -0.253645
12  1983  0.082031
13  1984 -0.048961
14  1985  0.303273
15  1986  0.266333
16  1987 -0.086547
17  1988  0.220033
18  1989  0.557836
19  1990  0.118068
20  1991 -0.006590
21  1992  0.056948
22  1993  0.306285
23  1994  0.067977
24  1995  0.221604
25  1996  0.285148
26  1997  0.221478
27  1998  0.110188
28  1999  0.073543
29  2000  0.005439
30  2001  0.092801
31  2002 -0.230911
32  2003  0.353668
33  2004  0.255410
34  2005  0.115426
35  2006  0.337025
36  2007  0.305500
37  2008 -0.183293
38  2009  0.080610
39  2010  0.229461
40  2011  0.202801
41  2012  0.050614
42  2013  0.193086
43  2014 -0.069889
44  2015 -0.161706
45  2016  0.366614
46  2017  0.105896
47  2018 -0.097474
48  2019  0.152737
49  2020 -0.259521
50  2021  0.462413
51  2022  0.393520

In [ ]:
# use market return from 1950 to 2022 as an example

ret = mkt[(mkt.date >= 1950) & (mkt.date <= 2022)].copy()


T = ret.shape[0]            # number of periods
arith = ret.ret.mean()
geom = (1 + ret.ret).prod() ** (1 / T) - 1
print('The arithmetic average of the annual market return from 1950 to 2022 is ', arith, end='.\n')
print('The geometric average of the annual market return from 1950 to 2022 is ', geom, end='.\n')

The arithmetic average of the annual market return from 1950 to 2022 is  0.13057638888888887.
The geometric average of the annual market return from 1950 to 2022 is  0.1163491792071425.