<a href="https://colab.research.google.com/github/bbcx-investments/notebooks/blob/main/risk/frequencies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from pandas_datareader import DataReader as pdr

# -------------------
# annual data example
# -------------------

# read market return for famafrench
ffa = pdr('F-F_Research_Data_Factors','famafrench', start=1900)[1]/100
mkta = ffa["Mkt-RF"] + ffa.RF
mkta = pd.DataFrame(mkta).reset_index()
mkta.columns = ['date', 'ret']
mkta.date = mkta.date.astype(str)

mkta

    date     ret
0   1927  0.3259
1   1928  0.3895
2   1929 -0.1479
3   1930 -0.2882
4   1931 -0.4404
..   ...     ...
90  2017  0.2231
91  2018 -0.0512
92  2019  0.3043
93  2020  0.2411
94  2021  0.2360

[95 rows x 2 columns]

In [ ]:
# example stock return
ticker = 'CVX'
close = pdr(ticker, "yahoo", start=1970)["Adj Close"]

annual = close.resample('Y').last().pct_change().dropna().reset_index()
annual.columns = ['date', 'ret']
annual.date = annual.date.dt.to_period('Y').astype(str)

annual

    date       ret
0   1971  0.106522
1   1972  0.453690
2   1973 -0.090197
3   1974 -0.316027
4   1975  0.417095
5   1976  0.481889
6   1977 -0.051830
7   1978  0.205788
8   1979  0.202667
9   1980  0.764967
10  1981 -0.138192
11  1982 -0.253644
12  1983  0.082032
13  1984 -0.048962
14  1985  0.303274
15  1986  0.266333
16  1987 -0.086547
17  1988  0.220033
18  1989  0.557836
19  1990  0.118068
20  1991 -0.006591
21  1992  0.056948
22  1993  0.306285
23  1994  0.067976
24  1995  0.221603
25  1996  0.285149
26  1997  0.221478
27  1998  0.110188
28  1999  0.073543
29  2000  0.005439
30  2001  0.092800
31  2002 -0.230911
32  2003  0.353668
33  2004  0.255410
34  2005  0.115426
35  2006  0.337025
36  2007  0.305499
37  2008 -0.183292
38  2009  0.080610
39  2010  0.229461
40  2011  0.202801
41  2012  0.050615
42  2013  0.193086
43  2014 -0.069888
44  2015 -0.161707
45  2016  0.366614
46  2017  0.105896
47  2018 -0.097474
48  2019  0.152737
49  2020 -0.259521
50  2021  0.462413
51  2022  0.305660

In [ ]:
tbla = pd.DataFrame(annual.describe(percentiles=[0.1, 0.25, 0.5, 0.75, 0.9]).iloc[1:])

tbla

           ret
mean  0.137380
std   0.225215
min  -0.316027
10%  -0.159355
25%  -0.017183
50%   0.116747
75%   0.289680
90%   0.412047
max   0.764967