<a href="https://colab.research.google.com/github/bbcx-investments/notebooks/blob/main/risk/returns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
!pip install --upgrade pandas-datareader
from pandas_datareader import DataReader as pdr

# market returns
df = pdr('F-F_Research_Data_Factors','famafrench',start=1926)[1]/100
mkt = df['Mkt-RF'] + df.RF
mkt.index.name = 'Year'
mkt.index = [int(str(x)) for x in mkt.index]
    
# example stock returns
ticker = 'CVX'
stock = pdr(ticker,'yahoo',start=1970)
stock['Year'] = [x.year for x in stock.index]
stock = stock.groupby('Year').last()['Adj Close']
stock = stock.pct_change().dropna()

# example start and stop dates
start = 1970
stop = 2021

# reduce data to start:stop range
mkt = mkt.loc[start:stop]
stock = stock.loc[max(start,stock.index[0]):stop]

# compound returns
mkt_compound = (1+mkt).cumprod()
mkt_compound.loc[mkt.index[0]-1] = 1
mkt_compound = mkt_compound.sort_index()

stock_compound = (1+stock).cumprod()
stock_compound.loc[stock.index[0]-1] = 1
stock_compound = stock_compound.sort_index()

Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.2.6)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)

In [ ]:
mkt

1970    0.0003
1971    0.1617
1972    0.1689
1973   -0.1925
1974   -0.2775
1975    0.3824
1976    0.2699
1977   -0.0314
1978    0.0821
1979    0.2347
1980    0.3337
1981   -0.0342
1982    0.2120
1983    0.2254
1984    0.0380
1985    0.3263
1986    0.1628
1987    0.0160
1988    0.1790
1989    0.2886
1990   -0.0614
1991    0.3478
1992    0.0974
1993    0.1111
1994   -0.0020
1995    0.3682
1996    0.2117
1997    0.3122
1998    0.2432
1999    0.2525
2000   -0.1171
2001   -0.1138
2002   -0.2111
2003    0.3177
2004    0.1192
2005    0.0607
2006    0.1540
2007    0.0570
2008   -0.3674
2009    0.2836
2010    0.1749
2011    0.0048
2012    0.1633
2013    0.3522
2014    0.1173
2015    0.0009
2016    0.1350
2017    0.2231
2018   -0.0512
2019    0.3042
2020    0.2411
2021    0.2361
dtype: float64

In [ ]:
mkt_compound

1969      1.000000
1970      1.000300
1971      1.162049
1972      1.358319
1973      1.096842
1974      0.792468
1975      1.095508
1976      1.391186
1977      1.347503
1978      1.458133
1979      1.800357
1980      2.401136
1981      2.319017
1982      2.810648
1983      3.444169
1984      3.575047
1985      4.741585
1986      5.513515
1987      5.601731
1988      6.604441
1989      8.510483
1990      7.987939
1991     10.766144
1992     11.814767
1993     13.127387
1994     13.101132
1995     17.924969
1996     21.719686
1997     28.500571
1998     35.431910
1999     44.378468
2000     39.181749
2001     34.722866
2002     27.392869
2003     36.095583
2004     40.398177
2005     42.850346
2006     49.449300
2007     52.267910
2008     33.064680
2009     42.441823
2010     49.864898
2011     50.104249
2012     58.286273
2013     78.814699
2014     88.059663
2015     88.138916
2016    100.037670
2017    122.356074
2018    116.091443
2019    151.406460
2020    187.910558
2021    232.276241
dtype: float64

In [ ]:
stock

Year
1971    0.106523
1972    0.453690
1973   -0.090197
1974   -0.316028
1975    0.417094
1976    0.481890
1977   -0.051829
1978    0.205788
1979    0.202666
1980    0.764968
1981   -0.138191
1982   -0.253645
1983    0.082032
1984   -0.048962
1985    0.303274
1986    0.266332
1987   -0.086547
1988    0.220033
1989    0.557834
1990    0.118069
1991   -0.006591
1992    0.056948
1993    0.306286
1994    0.067977
1995    0.221603
1996    0.285149
1997    0.221478
1998    0.110188
1999    0.073543
2000    0.005440
2001    0.092800
2002   -0.230911
2003    0.353669
2004    0.255410
2005    0.115425
2006    0.337025
2007    0.305499
2008   -0.183292
2009    0.080610
2010    0.229461
2011    0.202800
2012    0.050615
2013    0.193086
2014   -0.069889
2015   -0.161707
2016    0.366614
2017    0.105896
2018   -0.097474
2019    0.152737
2020   -0.259521
2021    0.462413
Name: Adj Close, dtype: float64

In [ ]:
stock_compound

Year
1970      1.000000
1971      1.106523
1972      1.608541
1973      1.463455
1974      1.000963
1975      1.418459
1976      2.102000
1977      1.993055
1978      2.403201
1979      2.890249
1980      5.101195
1981      4.396258
1982      3.281169
1983      3.550331
1984      3.376500
1985      4.400504
1986      5.572501
1987      5.090218
1988      6.210234
1989      9.674517
1990     10.816775
1991     10.745482
1992     11.357419
1993     14.836031
1994     15.844534
1995     19.355728
1996     24.874995
1997     30.384248
1998     33.732222
1999     36.212997
2000     36.409980
2001     39.788830
2002     30.601135
2003     41.423803
2004     52.003866
2005     58.006437
2006     77.556066
2007    101.249352
2008     82.691115
2009     89.356871
2010    109.860815
2011    132.140599
2012    138.828840
2013    165.634810
2014    154.058790
2015    129.146477
2016    176.493424
2017    195.183376
2018    176.158009
2019    203.063803
2020    150.364468
2021    219.894957
Name: Adj Close, dtype: float64