<a href="https://colab.research.google.com/github/bbcx-investments/notebooks/blob/main/bonds/credit_spreads.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from pandas_datareader import DataReader as pdr

files = ["BAMLC0A4CBBB", "BAMLC0A3CA", "BAMLC0A2CAA", "BAMLC0A1CAAA"]
df = None

# data won't actually start in 1920, this gets earliest dates
for f in files:
    d = pdr(f, "fred", start=1920)
    df = pd.concat((df, d), axis=1)

# move index to column
df.index.name = "date"
df = df.reset_index()

# convert to monthly format and then save first day of the month
df["month"] = df.date.dt.to_period("M").astype(str)
df = df.groupby("month").first()
df = df.drop(columns=["date"])
df = df.dropna()
df.columns = ["BBB", "A", "AA", "AAA"]

df

          BBB     A    AA   AAA
month
1996-12  0.83  0.57  0.42  0.30
1997-01  0.83  0.58  0.42  0.26
1997-02  0.82  0.57  0.44  0.33
1997-03  0.77  0.53  0.40  0.31
1997-04  0.77  0.55  0.41  0.32
...       ...   ...   ...   ...
2022-02  1.33  0.87  0.70  0.62
2022-03  1.64  1.07  0.83  0.70
2022-04  1.47  0.97  0.73  0.58
2022-05  1.72  1.17  0.87  0.70
2022-06  1.70  1.11  0.81  0.60

[307 rows x 4 columns]