<a href="https://colab.research.google.com/github/bbcx-investments/notebooks/blob/main/bonds/real_termstructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from pandas_datareader import DataReader as pdr

files = ["DFII" + x for x in ["5", "7", "10", "20", "30"]]
df = None

# data won't actually start in 1920, this gets earliest dates
for f in files:
    d = pdr(f, "fred", start=1920)
    df = pd.concat((df, d), axis=1)
df /= 100

# move index to column
df.index.name = "date"
df = df.reset_index()

# convert to monthly format and then save first day of the month
df["month"] = df.date.dt.to_period("M").astype(str)
df = df.groupby("month").first()
df = df.dropna(subset=['DFII30'])
df = df[files]
df

          DFII5   DFII7  DFII10  DFII20  DFII30
month
2010-02  0.0039  0.0081  0.0129  0.0192  0.0222
2010-03  0.0045  0.0098  0.0146  0.0198  0.0214
2010-04  0.0074  0.0126  0.0161  0.0200  0.0216
2010-05  0.0047  0.0093  0.0132  0.0172  0.0187
2010-06  0.0041  0.0082  0.0132  0.0174  0.0183
...         ...     ...     ...     ...     ...
2022-02 -0.0117 -0.0087 -0.0062 -0.0025 -0.0008
2022-03 -0.0158 -0.0121 -0.0090 -0.0041 -0.0016
2022-04 -0.0073 -0.0057 -0.0041 -0.0015  0.0000
2022-05 -0.0020  0.0000  0.0018  0.0043  0.0056
2022-06 -0.0002  0.0014  0.0029  0.0054  0.0067

[149 rows x 5 columns]