<a href="https://colab.research.google.com/github/bbcx-investments/notebooks/blob/main/bonds/term_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from pandas_datareader import DataReader as pdr

files = ['DGS'+x for x in ['1MO','3MO','1','2','3','5','10','20','30']]

df = None

# data won't actually start in 1920, this gets earliest dates
for f in files :
    d = pdr(f,'fred',start=1920)
    df = pd.concat((df,d),axis=1)

# move index to column 
df.index.name = 'date'
df = df.reset_index()

# convert to monthly format and then save first day of the month
df['month'] = df.date.dt.to_period('M')
df = df.groupby('month').first()
df = df.drop(columns=['date'])

df

         DGS1MO  DGS3MO  DGS1  DGS2  DGS3  DGS5  DGS10  DGS20  DGS30
month
1962-01     NaN     NaN  3.22   NaN  3.70  3.88   4.06   4.07    NaN
1962-02     NaN     NaN  3.30   NaN  3.81  4.00   4.09   4.13    NaN
1962-03     NaN     NaN  3.15   NaN  3.44  3.71   3.98   4.09    NaN
1962-04     NaN     NaN  2.95   NaN  3.38  3.58   3.86   3.97    NaN
1962-05     NaN     NaN  3.06   NaN  3.45  3.63   3.85   3.91    NaN
...         ...     ...   ...   ...   ...   ...    ...    ...    ...
2021-12    0.09    0.06  0.25  0.56  0.85  1.15   1.43   1.84   1.77
2022-01    0.05    0.08  0.40  0.78  1.04  1.37   1.63   2.05   2.01
2022-02    0.04    0.19  0.78  1.18  1.39  1.63   1.81   2.19   2.12
2022-03    0.11    0.32  0.91  1.31  1.47  1.56   1.72   2.19   2.11
2022-04    0.15    0.53  1.72  2.44  2.61  2.55   2.39   2.60   2.44

[724 rows x 9 columns]