---

Created for [learn-investments.rice-business.org](https://learn-investments.rice-business.org)
    
By [Kerry Back](https://kerryback.com) and [Kevin Crotty](https://kevin-crotty.com)
    
Jones Graduate School of Business, Rice University

---

# EXAMPLE DATA

In [1]:
# Date Range (input a year)
start_yr = 1978
stop_yr  = 2023

# PULL DATA

In [2]:
from pandas_datareader import DataReader as pdr

files = ["DGS" + x for x in ["1", "2", "3", "5", "10", "30"]]
yield_changes = 100 * pdr(files, "fred", start=1920).dropna()
yield_changes = yield_changes.resample("M").last().diff()
yield_changes.index = yield_changes.index.to_period('M').astype(str)
yield_changes = yield_changes.dropna()
yield_changes.columns = [int(x[3:]) for x in yield_changes.columns]

# subset for data range
start = str(start_yr) + "-01"
stop  = str(stop_yr)  + "-12"
df = yield_changes.loc[start:stop]

# TABLE: MEANS AND STDEVS

In [3]:
tbl1 = df.describe().round(2).iloc[1:3]
tbl1 = tbl1.rename(index={"std": "std dev"}).reset_index()
tbl1.columns = [
    "statistic",
    "1-Year",
    "2-Year",
    "3-Year",
    "5-Year",
    "10-Year",
    "30-Year",
]
tbl1.set_index('statistic')

           1-Year  2-Year  3-Year  5-Year  10-Year  30-Year
statistic
mean        -0.29   -0.41   -0.48   -0.54    -0.58    -0.60
std dev     48.58   44.84   42.30   40.09    34.88    30.57

# TABLE: CORRELATIONS

In [4]:
tbl2 = df.corr().applymap("{0:.02f}".format)
tbl2.index  = tbl1.columns[1:]
tbl2.columns= tbl1.columns[1:]
tbl2

        1-Year 2-Year 3-Year 5-Year 10-Year 30-Year
1-Year    1.00   0.96   0.92   0.86    0.77    0.71
2-Year    0.96   1.00   0.98   0.95    0.87    0.78
3-Year    0.92   0.98   1.00   0.98    0.91    0.82
5-Year    0.86   0.95   0.98   1.00    0.96    0.88
10-Year   0.77   0.87   0.91   0.96    1.00    0.95
30-Year   0.71   0.78   0.82   0.88    0.95    1.00